<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head', {metaTitle: 'Home' }) %>
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <h1>Welcome</h1>
      <p>
        <%= tagline %>
      </p>
      <ul>
        <% testArr.forEach(function(item) { %>
          <li>
            <%= item.name %>
          </li>
          <% }); %>
      </ul>

      <h2>Send a Message</h2>
      <input type="text" id="messageInput" placeholder="Enter a message">
      <button id="sendButton">Send</button>
      <p id="response"></p>

      <h2>Messages</h2>
      <ul id="messageList">
        <% messages.forEach(function(message) { %>
          <li>
            <%= message.content %> (Sent: <%= message.created_at.toLocaleString() %>)
          </li>
          <% }); %>
      </ul>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>

</html>