<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {metaTitle: 'Workout Log' }); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main id="workoutLog">
    <h1>
      Workout Log
    </h1>
    <div>
      <% if (workoutSessions.length===0) { %>
        <div class="jumbotron d-flex flex-column align-items-center">
          <p class="lead">You have not created any workout entries yet!</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Add New Entry</a>
          </p>
        </div>
        <% } else { %>

          <ul class="mainList">
            <% workoutSessions.forEach(function(item) { %>
              <li class="mb-4">
                <div class="card">
                  <h3 class="card-header d-flex justify-content-between align-items-center">
                    <span>
                      <%= item.workout_name %>
                    </span>
                    <span class="text-muted fs-5">
                      <%= new Date(item.date).toLocaleDateString('en-US', { month: 'short' , day: '2-digit' ,
                        year: 'numeric' }).replace(',', '' ) %>
                    </span>
                  </h3>
                  <div class="card-body px-0">
                    <h5 class="mb-3 px-3">
                      Exercises:
                    </h5>
                    <table class="table table-light table-striped d-none d-md-table">
                      <thead>
                        <tr>
                          <th class="ps-3" scope="col">Exercise</th>
                          <th scope="col">Sets</th>
                          <th scope="col">Reps</th>
                          <th scope="col">Weight</th>
                          <th scope="col">Distance</th>
                        </tr>
                      </thead>
                      <% item.exercises.forEach(function(exercise) { %>
                        <tbody>
                          <tr>
                            <td class="ps-3">
                              <%= exercise.exercise_name %>
                            </td>
                            <td>
                              <%= exercise.sets> 0 ? exercise.sets : "-" %>
                            </td>
                            <td>
                              <%= exercise.reps> 0 ? exercise.reps : "-" %>
                            </td>
                            <td>
                              <%= exercise.weight> 0 ? exercise.weight + " lbs." : "-" %>
                            </td>
                            <td>
                              <%= exercise.distance> 0 ? exercise.distance + " km." : "-" %>
                            </td>
                          </tr>
                        </tbody>
                        <% }); %>
                    </table>
                    <!-- Mobile responsive version of table using flex -->
                    <div class="d-flex flex-column d-md-none px-3">
                      <ul class="list-group">
                        <% item.exercises.forEach(function(exercise) { %>
                          <div class="mb-3">
                            <li class="list-group-item w-100">
                              <p class="fw-bold">
                                <%= exercise.exercise_name %>
                              </p>
                              <p>
                                Sets:
                                <%= exercise.sets> 0 ? exercise.sets : "-" %>
                              </p>
                              <p>
                                Reps:
                                <%= exercise.reps> 0 ? exercise.reps : "-" %>
                              </p>
                              <p>
                                Weight:
                                <%= exercise.weight> 0 ? exercise.weight + " lbs." : "-" %>
                              </p>
                              <p>
                                Distance:
                                <%= exercise.distance> 0 ? exercise.distance + " km." : "-" %>
                              </p>
                            </li>
                          </div>

                          <% }); %>
                      </ul>
                    </div>
                    <div class="px-3">
                      <h5>
                        Notes:
                      </h5>
                      <p class="card-text">
                        <%= item.notes && item.notes.trim() !=="" ? item.notes : "-" %>
                      </p>
                    </div>
                  </div>
                  <!-- Delete Button -->
                  <div class="deleteContainer">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                      data-bs-target="#exampleModal<%= item.id %>">
                      Delete
                    </button>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal<%= item.id %>" tabindex="-1"
                    aria-labelledby="exampleModalLabel<%= item.id %>" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel<%= item.id %>">Confirm Deletion</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this entry?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-danger delete-workout-btn" data-id="<%= item.id %>"
                            onclick="deleteWorkout('<%= item.id %>')">
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>


              </li>
              <% }); %>
          </ul>
          <% } %>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>